!!!
%html
  %head
    %title= SiteConfig.title
    %link{:href => '/stylesheets/main.css', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript" :src => "http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"}
  %body
    #container
      #header
        #logo
          %h1
            %a{:href => '/'}= SiteConfig.title
      #content= yield
      #footer
        %p#legal= "&mdash; &copy; #{Time.now.strftime('%Y')} #{SiteConfig.author} &mdash;"
